.nav-bar {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 80px;

  z-index: 2;
  background-image: url('../../images/dolomites.jpg');
  /* background-color: black; */
}

.nav-menu {
  position: fixed;
  top: 0px;
  right: 20px;

  /* background-color: black; */
}

.nav-home {
  display: inline-block;
  margin-left: 10px;
}

.nav-item {
  text-align: center;
  margin-left: 10px;
  width: 80px;
  vertical-align: top;
  display: inline-block;
}

.nav-link {
  margin: auto;
  font-size: 20px;
}

.nav-link:link,
.nav-link:visited,
.nav-home:link,
.nav-home:visited {
  color: white;
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: overline;
}
